{% extends 'core/pages/layout.html' %}
{% block main %}
<h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Expenditures</h5>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
  {% include 'core/components/paginator.html' %}
</div>
{% csrf_token %}
{{records|json_script:'records'}}
<script>
    // please don't try to parse any of the below content to JSON
    const productRecords = document.getElementById('records').textContent;

    function getRecords(){
        return productRecords;
    }

    function getCSRFToken(){
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }


</script>
{% endblock %}