<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'css/output.css'%}">
    <script>
        if(localStorage.getItem('dark') == undefined){
            const prefersDarkTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
            localStorage.setItem('dark', prefersDarkTheme);
        }
        document.documentElement.classList.toggle('dark', localStorage.getItem('dark') == 'true');
    </script>
    <title>Personal Expense Tracking Application</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo-100x100.png' %}" type="image/x-icon">
</head>
<body class="dark:bg-[#0F172A]">
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/alpine.min.js' %}"></script>
    <script src="{% static 'js/flowbitejs.min.js' %}"></script>
</body>
</html>