<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">  <!-- data-theme sets the theme for the calendar -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the manifest -->
    <!-- <link rel="manifest" href="{% static 'js/pwa/manifest.json' %}"> -->
    <script type="module" crossorigin src="{% static 'js/vite/bundle.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/output.css'%}">
    <link rel="stylesheet" href="{% static 'css/vanilla-calendar-pro/index.css'%}">
    <script>
        if(localStorage.getItem('dark') == undefined){
            const prefersDarkTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
            localStorage.setItem('dark', prefersDarkTheme);
        }
        document.documentElement.classList.toggle('dark', localStorage.getItem('dark') == 'true');
        document.documentElement.setAttribute('data-theme', localStorage.getItem('dark') == 'true'?'dark':'light');
        
    </script>
    <title>Personal Expense Tracking Application</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo-100x100.png' %}" type="image/x-icon">
</head>
<body class="dark:bg-[#0F172A]">
    {% block content %}
    {% endblock %}
    <!-- Register the service worker -->
  <!-- <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/static/js/pwa/sw.js')
          .then(registration => {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch(error => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script> -->
    <!-- <script src="{% static 'js/vanilla-calendar-pro/index.min.js' %}"></script>    
    <script src="{% static 'js/vanilla-calendar-pro/utils.min.js' %}"></script>     -->
</body>
</html>