{% extends 'core/pages/base.html' %}
{% load static %}

{% block content %}
    {% component 'navbar' / %}
    {% component 'sidebar' / %}
    
    <div class="p-4 sm:ml-64 mt-16" id="main-content">
        {% block main %}
            <!-- main content goes here -->
        {% endblock %}
    </div>
     
    {% component 'addProductModal' id='add-product-modal' / %}
    {% component 'addCategoryModal' id='add-category-modal' / %}
    {% component 'deleteProductModal' id='delete-product-modal' / %}
    {% component 'showDetailsModal' id="show-details-modal" / %}
    {% component 'editProductModal' id="edit-product-modal" / %}
    {% component 'categoryDetailsModal' id="category-details-modal" / %}

{% component 'toastWrapper' / %}
  <div class="bg-gray-900/50  fixed inset-0 z-50 w-full hidden" id="animated-backdrop"></div>
 
{{categories|json_script:'categories'}}
 <script src="{% static 'js/router.js' %}"></script>
 <script src="{% static 'js/objectSelect.js' %}"></script>
 <script src="{% static 'js/themeToggler.js' %}"></script>
 <script src="{% static 'js/modal-init.js' %}"></script>
 <script src="{% static 'js/modals.js' %}"></script>
{% endblock %}