{% extends 'core/pages/layout.html' %}
{% load static %}
{% load custom_tags %}
{% block main %}

{% component 'dateSelectField' id='input' %}
  
{% endcomponent / %}

<!-- dynamically set data-vc-theme to light for light mode -->
 <!-- But I think there's some configuration to fix that -->
  {# 
  <script>
    document.addEventListener('DOMContentLoaded', () => {
    // Destructuring the Calendar constructor and its utilities.
    const { Calendar } = window.VanillaCalendarPro;
    // const {getDate} = window.VanillaCalendarProUtils; 
    // const { getDateString } = window.VanillaCalendarProUtils;

    // Instantiate the calendar and initialize it.
    const calendar = new Calendar('#input', 
    {
      inputMode:true, 
      positionToInput: 'auto', 
      onClickDate(self, event){
      const selectedDate = self.context.selectedDates[0];
        if (selectedDate) {
          // Update the input field with the selected date
          const formattedDate = new Date(selectedDate).toDateString()
          document.getElementById("input").value = formattedDate;
      }

     }
  }) 
  calendar.init();

    // Create logs for demonstration.
    console.log('A copy of the calendar:', calendar);
   // console.log('Date string conversion utility:', getDateString(new Date()));
  });
</script>
#}
{% endblock %}