{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

  {% include 'components/navbar.html' %}
  {% include  'components/sidebar.html' %}

  <div class="p-4 sm:ml-64 mt-16">
      {% block main %}
          <!-- main content goes here -->
      {% endblock %}
  </div>

{% if successful %}
  {% include 'components/toast.html' %}
{% endif %}
  
  <!-- removed the only keyword from the include tag to allow csrf_token to be passed down to it -->
  {% include 'components/addProductModal.html' with id='add-product-modal' %}

  <script src="{% static 'js/modal-control.js' %}"></script>
 <script src="{% static 'js/toast.js' %}"></script>
  <script src="{% static 'js/manage-product.js' %}"></script>
{% endblock %}