<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/output.css'%}">
    <link rel="icon" href="{% static 'imgs/logo-100x100.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body class="h-screen w-full bg-gradient-to-r from-yellow-50 to-blue-200">
    {% block content %}
    {% endblock content %}

    {% block scripts %}{% endblock scripts %}
</body>
</html>