{% extends "core/pages/base.html" %}
{% load static %}
{% block body %}
    {% component 'toastWrapper' / %}
    {% component 'themeToggler' / %}
    <body class="dark:bg-[#0F172A] h-screen w-full bg-gradient-to-r from-yellow-50 to-blue-200">
        {% block content %}
        {% endblock content %}

        <script src="{% static 'js/flowbitejs.min.js' %}"></script>
        <script src="{% static 'js/themeToggler.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>
    </body>
{% endblock body %}
</html>