<div id="{{id}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:border dark:bg-dark2 dark:border-darkborder dark:divide-darkborder">
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <div class="font-bold dark:text-gray-300">{% slot "title" %}Options{% endslot %}</div>
    </div>
    <ul class="py-2 text-sm text-gray-700 dark:text-neutral-200" aria-labelledby="dropdownInformationButton">
      {% slot "items" %}
        <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
        </li>
        <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
        </li>
        <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Set Budget</a>
        </li>
      {% endslot %}
    </ul>
<!--    <div class="py-2">-->
<!--      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>-->
<!--    </div>-->
</div>