<!-- DO NOT REMOVE THE COMMENT BELOW -->
<!-- bg-teal-500/5 bg-teal-500/25 bg-teal-500/50 bg-teal-500/75 bg-teal-500/100 -->
<div class="flex justify-center">
    <div class="inline-flex border items-center mx-auto p-4 gap-4 overflow-x-auto rounded-md">
        <div>
            <h3 class="font-bold text-center mb-2 ">Day</h3>
            <div class="grid [&>*]:text-sm [&>div>span]:relative [&>div>span]:bottom-[6px]  [&>*]:font-bold grid-rows-[repeat(7,minmax(10px,10px))] gap-1 grid-flow-col grid-cols-1">
                <div></div>
                <div> <span>Mon</span></div>
                <div></div>
                <div><span>Wed</span></div>
                <div></div>
                <div><span>Fri</span></div>
                <div></div>
            </div>
        </div>
        {% for month in monthsData reversed %}
            {% include 'core/components/miniCalendar.html' with data=month.data ratios=month.ratios %}
        {% endfor %}
    </div>
</div>