{% load custom_filters %}
{% load custom_tags %}
{% for result in results %}
                  <tr x-data="{data: $el.dataset.info}" @click="getShowDetailsModal().setDetails(data)" id="product-{{product.id}}" data-info='{{product|json_string}}'>
                    <!-- checkbox  -->
                    <!-- <td class="w-4 p-4">
                      <div class="flex items-center">
                          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                      </div>
                  </td> -->
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">
                       {{result.name}}
                       <div class="text-gray-500 text-sm">
                        {{result.date_timesince}}
                       </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">GHS {{result.price|floatformat:2}}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200 link" @click.stop="routes.category('{{result.category.name|default:'None'}}')">{{result.category.name|default:'None'}}</td>
                    <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">{{result.date_timesince}}</td> -->
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200 link" @click.stop="routes.viewDay('{{result.raw_date}}', '{{result.date}}')">{{result.date}}</td>
                  </tr>
            
{% endfor %}

<!-- skeleton indicating that more items are loading -->
{% if has_next_page %}
    {% include 'core/components/searchResultsPaginator.html' %}
{% endif %}