<aside x-data @click="handleClickOutside" id="{{id}}" class="fixed flex justify-center items-end bottom-0 left-0 z-[60] h-screen md:items-center w-full transition-transform translate-y-full" aria-label="Sidebar">
    <div class="px-2 w-full max-w-sm max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white dark:bg-dark2 rounded-xl shadow rounded-b-none md:rounded-md">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-100/5">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-300">
                    {% block title %}Title{% endblock %}
                </h3>
                <button type="button"  @click="closeModal"  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <!-- moday body -->
            {% block modalBody %}
            {% endblock  %}
             
             <div class="absolute top-0 invisible w-full h-full flex items-center justify-center" id="{{id}}-form-loader"> 
                <div>
                    <span class="loader"></span>
                </div>
             </div>
        </div>
    </div>
</aside>