<div>
    <h3 class="font-bold text-center mb-2 dark:text-white">{{data.2|date:'M'}}</h3>
   <div class="[&>*]:text-center [&>*]:rounded-sm [&>*]:border-gray-400 gap-1 grid grid-rows-[repeat(7,_minmax(10px,_10px))] grid-cols-[repeat(5,minmax(10px,10px))] grid-flow-col"> 
     <!-- <div>Sun</div>
     <div>Mon</div>
     <div>Tue</div>
     <div>Wed</div>
     <div>Thu</div>
     <div>Fri</div>
     <div>Sat</div> -->
     {% for day in data.0 %}
       <div class="text-gray-400 bg-gray-200 dark:bg-gray-700 dark:border-gray-500"></div>
     {% endfor %}
     {% for day, ratio in ratios.items %}
     {% if ratio == 0 %}
      <div class="text-gray-400 bg-gray-200 dark:bg-gray-700 dark:border-gray-500"></div>
     {% else %}
      <div class="text-gray-400 bg-teal-500/{{ratio}}"></div>
     {% endif %}
     {% endfor %}
   </div>
 </div>