<div class="relative" x-data="objectSelect" x-init="submitProperty='{{submitProperty|default:'id'}}';listId='{{listId}}';self=$el;" x-effect="setup" @click.outside="open=false;selected={...selected};objects={...original};">
    <div>
      <button type="button" :class="{'outline-indigo-500 outline outline-2': isFocused }" class="p-4 bg-gray-100 rounded-md flex items-center w-full">
        <div class="flex-grow">
          <input type="hidden" name="{{name}}" :value="selected[submitProperty]">
          <input type="text" @input="filter" @focus="isFocused=true; open=true;" @blur="isFocused=false" class="outline-none bg-transparent text-sm font-medium w-full" :value="selected.name">
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" class="stroke-gray-400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
        </div>
      </button>
    </div>
    <div x-show="open" x-cloak  class="z-50 w-full absolute my-2 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-1 max-h-60 overflow-y-auto" role="none">
        <template x-if="objects.length == 0">
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">No matches</a>
          </li>
        </template>
        <template x-for="item in objects">
          <li @click="selected=item;open=false;objects={...original}" class="flex items-center justify-between px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
            <div class="block flex-grow" role="menuitem" x-text="item.name"></div>
            <template x-if="selected.name == item.name">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" class="stroke-teal-500" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
            </template>
          </li>
        </template>
      </ul>
    </div>
  </div>