{% for item in items reversed %}
  {% include 'core/components/records.html' with products=item.products date=item.date total=item.total count=forloop.counter0  %}
{% endfor %}

{% if nextPageNumber %}
   {% include 'core/components/paginator.html' %}
{% endif %}

{% component 'toastWrapper' / %}

{# 
 item:
 1. This is a dictionary that represents a particular day
 2. items is just a list of such dictionaries

 item example: 
  {
   "products": [
     {
       "id": 1,
       "name": "Product 1",
       "price": 100.00
     },
     {
       "id": 2,
       "name": "Product 2",
       "price": 200.00
     }
   ],
   "date": "2023-10-01",
   "total": 300.00
 }

#}