<div class="p-4">
    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400">
           Name
        </div>
        <div class="px-2 text-sm text-start dark:text-neutral-200" id="{{id}}-product-name"></div>
    </div>

    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400">
           Price
        </div>
        <div id="{{id}}-product-price" class="px-2 text-sm text-start dark:text-neutral-200"></div>
    </div>

    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400">
           Category
        </div>
        <div id="{{id}}-product-category" class="px-2 text-sm text-start dark:text-neutral-200"></div>
    </div>

    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400">
           Description
        </div>
        <div id="{{id}}-product-description" class="px-2 text-sm text-start dark:text-neutral-200"></div>
    </div>
 </div>