<div class="p-4">
    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400">
           Name
        </div>
        <div class="px-2 text-sm text-start dark:text-neutral-200" x-init="df.setDataField('name', $el)"></div>
    </div>

    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400">
           Price
        </div>
        <div class="px-2 text-sm text-start dark:text-neutral-200" x-init="df.setDataField('price', $el)"></div>
    </div>

    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400">
           Category
        </div>
        <div class="px-2 text-sm text-start dark:text-neutral-200" x-init="df.setDataField('category', $el)"></div>
    </div>

    <div>
        <div class="py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-gray-400">
           Description
        </div>
        <div class="px-2 text-sm text-start dark:text-neutral-200" x-init="df.setDataField('description', $el)"></div>
    </div>
 </div>