<!-- begin summary -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-2 gap-y-4" id="statSummary">
    <!-- begin card -->
    <a 
    @click="routes.viewWeek({{stats.0.id}}, '{{stats.0.date_range}}')"
    class="cursor-pointer block p-6 border bg-gray-50 border-gray-200 rounded-md dark:bg-dark2 dark:border-darkborder">
      <p class="font-normal text-gray-700 dark:text-gray-400 py-1">{{stats.0.text}}</p>
        <p class="text-2xl font-bold dark:text-gray-300">GHS {{stats.0.data|floatformat:2}}</p>
     </a>
           <!-- end card  -->
     <!-- begin card -->
     <a
     @click="routes.viewWeek({{stats.1.id}}, '{{stats.1.date_range}}')"
     class="cursor-pointer block p-6 border bg-gray-50 border-gray-200 rounded-md dark:bg-dark2 dark:border-darkborder">
        <p class="font-normal text-gray-700 dark:text-gray-400 py-1">{{stats.1.text}}</p>
        <p class="text-2xl font-bold dark:text-gray-300">GHS {{stats.1.data|floatformat:2}}</p>
     </a>
     <!-- end card  -->
     <!-- begin card -->
     <a
      @click="routes.viewWeek({{stats.2.id}}, '{{stats.2.date_range}}')"
      class="cursor-pointer block p-6 border bg-gray-50 border-gray-200 rounded-md dark:bg-dark2 dark:border-darkborder">
        <p class="font-normal text-gray-700 dark:text-gray-400 py-1">{{stats.2.text}}</p>
        <p class="text-2xl font-bold dark:text-gray-300">GHS {{stats.2.data|floatformat:2}}</p>
     </a>
     <!-- end card  -->
     </div>
     <!-- end summary  -->

   {# 
   stats: A list of properties containing information about each card
   see the return value of WeeklyStats.calculate method in core\stats.py for example
   #}