{% component 'baseModal' %}
  {% fill 'title' %}Delete Category{% endfill %}
  {% fill 'body' %}
  <form method="POST" x-data="{modal: getDeleteCategoryModal(), df:getDeleteCategoryModal().df, ff:getDeleteCategoryModal().ff}" id="delete-category-form">
    {% csrf_token %}
    <div class="p-6 px-4 text-sm">
        Delete category <span class="font-bold dark:text-gray-300" x-init="df.setDataField('name', $el)"></span> ? All products set to this category will have no category attached to them
    </div>
    <input type="hidden" name="id" x-init="ff.setFormField('id', $el)">
    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-darkborder">
        <button type="button" @click="modal.submitForm() " class="text-white bg-pink-500 w-full rounded-full hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-pink-700 dark:hover:bg-pink-800 dark:focus:ring-pink-800">Confirm</button>
        <button @click="modal.close()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium w-full rounded-full text-gray-900 focus:outline-none bg-white  border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>
    </div>
    </form>
  {% endfill %}
{% endcomponent %}