{% load custom_tags %}
{% include 'core/components/pageHeading.html' with text="Categories"%}

<!--toolbar-->
<div class="flex items-center justify-between mb-4">
    
    <div class="inline-flex items-center gap-4">
         <button x-data @click="getAddCategoryModal().open()" class="text-sm inline-flex items-center gap-1 text-center text-gray-800 dark:text-neutral-200">
                  <svg xmlns="http://www.w3.org/2000/svg"  class="stroke-gray-500 dark:stroke-gray-400 w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                 Create
         </button>
         {% experimental %}
         <button class="text-sm text-nowrap inline-flex items-center gap-1 text-center text-gray-800 dark:text-neutral-200">
             <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-500 dark:stroke-gray-400 w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/><path d="M12 18V6"/></svg>
              Set Budget
         </button>
         {% endexperimental %}

        <cat-metric-filter></cat-metric-filter>
         <svg id="cat-page-loader"  class="hidden animate-spin h-5 w-5 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
        </svg>
    </div>
</div>

<categories-cards></categories-cards>