<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
  {% include 'core/components/paginator.html' %}
</div>
{% csrf_token %}
{{records|json_script:'records'}}
<script>
    // please don't try to parse any of the below content to JSON
    const productRecords = document.getElementById('records').textContent;

    function getRecords(){
        return productRecords;
    }

    function getCSRFToken(){
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
</script>