@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --sidebar-width:16rem; 
}


@font-face {
  font-family: "Poppins-Regular";
  src: url('../fonts/Poppins-Regular.ttf');
}

body{
    font-family: 'Poppins-Regular';
    @apply text-sm md:text-base dark:text-gray-400;
}

*{
  scrollbar-width:thin;
}






/* loader styles */
.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #FF3D00;
    width: 16px;
    height: 16px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }
  .loader::before {
    left: auto;
    right: 0;
    @apply bg-indigo-500;
    transform: translate(50%, 100%);
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@layer components{
    .btn{
        @apply py-3 px-4 
        inline-flex items-center gap-x-2
        text-sm font-medium rounded-full border border-transparent
        bg-blue-600 text-white hover:bg-blue-700 focus:outline-none
        focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none;
    }

    /* .input{
        @apply bg-gray-100 focus:outline-indigo-500 text-gray-900 text-sm rounded-md block w-full font-medium p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
    } */
     /* input styles */
    .input{
      @apply w-full p-4 placeholder:text-gray-500 bg-white dark:bg-transparent dark:focus:border-blue-500 dark:text-gray-400  dark:border-gray-100/5 border-2 text-sm font-medium rounded-md border-gray-200 focus:outline-none focus:border-blue-500 transition-colors duration-100;
    }

}

[x-cloak] { display: none !important; }

/* styles for modals */
.modal[data-placement='center']{
   @apply md:items-center;
}

.modal[data-placement='top']{
   @apply items-start;
}

/* modal animations */
.modal[data-animation='translate']{
   @apply transition-transform translate-y-full;
}

.modal[data-animation='translate'].show{
   @apply transform-none;
}

.modal[data-animation='none']{
   @apply invisible;
}

.modal[data-animation='none'].show{
  @apply visible;
}




#search-modal{
  @apply top-4;
}


/* navbar */
#navbar{
  @apply w-full;
}

@media(min-width:768px){
  #navbar{
    width: calc(100% - var(--sidebar-width)); 
    left: var(--sidebar-width);
  }
}

#separator-sidebar span{
    @apply font-bold;
}


.activity li{
    @apply flex justify-between p-2 items-center; 
}

.activity .heading{
    @apply text-lg font-bold dark:text-white;
}

.add-product-form, .edit-product-form{
  @apply overflow-y-auto max-h-[calc(100vh-6rem)];
}

.add-product-form label, .add-category-form label, .edit-product-form label{
    @apply font-bold;
}

/* sidebar */
.sidebar-link{
  @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700;
}

.sidebar-icon{
   @apply w-5 h-5 transition duration-75 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white;
}

/* record skeleton */
.record-skeleton, .placeholder{
  @apply bg-gray-300 dark:bg-gray-500 animate-pulse rounded;
}

.option{
  @apply border dark:border-darkborder px-4 p-2 rounded-full cursor-pointer;
}
.option:hover{
  @apply bg-gray-50 dark:bg-dark2
}
.option.selected{
  @apply bg-gray-50 dark:bg-dark2;
}

/* calendar */
/* I'll find a better way to write the dark mode styles for the calendar using the documentation but for now let me just improvise */
[data-vc-theme=dark].vc {
  /* --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  color: #fff; */
  @apply !bg-dark2
}

[data-vc-theme=dark] .vc-date__btn {
  @apply !bg-transparent;
  color: #94a3b8;
}