{% include 'core/components/pageHeading.html' with text="Categories"%}
<!--toolbar-->
<div class="flex items-center justify-between mb-4">
    {# 
    
    <ul class="flex gap-4 items-center text-sm text-gray-800 dark:text-neutral-200">
        <li class="border bg-gray-50 dark:bg-dark2 dark:border-darkborder rounded-xl px-6">
           All
        </li>

        <li>
            Frequently Used
        </li>
    </ul>
    
    #}

    <div class="inline-flex items-center gap-4">
         <button x-data @click="getAddCategoryModal().open()" class="text-sm inline-flex items-center gap-1 text-center text-gray-800 dark:text-neutral-200">
                  <svg xmlns="http://www.w3.org/2000/svg"  class="stroke-gray-500 dark:stroke-gray-400 w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                 Add
         </button>

         <button class="text-sm text-nowrap inline-flex items-center gap-1 text-center text-gray-800 dark:text-neutral-200">
             <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-500 dark:stroke-gray-400 w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/><path d="M12 18V6"/></svg>
              Set Budget
         </button>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-sm">
    {% for category in categories %}
     <div x-data="{getDropdown:()=>dropdownManager.getInstance('category-{{category.id}}')}" class="bg-gray-50 p-4 rounded-md border space-y-2 dark:bg-dark2 dark:border-darkborder">

    <!-- header   -->
         <div class="flex justify-between relative">
              <div class="text-gray-800 font-bold dark:text-gray-300">
              {{category.name}}
             </div>

             <button data-dropdown-toggle="category-{{category.id}}" data-dropdown-placement="bottom-end">
                 <svg xmlns="http://www.w3.org/2000/svg" class="stroke-gray-500 dark:stroke-gray-400 w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
              </button>
              {% component 'categoryOptionsDropdown' id='category-{{category.id}}' / %}
         </div>
        <!--  / header -->
         <div class="flex items-center justify-between">
         <div class="text-gray-500">
             {{category.metrics.product_count}} items
         </div>

             <div class="text-gray-800 font-medium dark:text-neutral-200">
              GHS {{category.metrics.total_amount_spent|floatformat:2}}
             </div>
         </div>
     </div>
    {% endfor %}
</div>