{% load custom_tags %}
{% load cache %}
{% include 'core/components/pageHeading.html' with text="Dashboard" %}

<!-- options -->
<ul class="flex gap-4 items-center mb-4 text-sm text-gray-900 dark:text-neutral-200" x-data="{selected:'weekly'}">
   <li class="option" :class="{'selected':selected == 'weekly'}" @click="selected='weekly';statSummary.fetch('weekly')">Weekly</li>
   <li class="option":class="{'selected':selected == 'monthly'}" @click="selected='monthly';statSummary.fetch('monthly')">Monthly</li>
   {% experimental %}
   <li class="option">Yearly</li>
   {% endexperimental %}
</ul>

{% include 'core/components/statSummarySkeleton2.html' %}

        
<div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-4 items-start">
   <div class="p-4 bg-gray-50 dark:bg-dark2 dark:border-darkborder rounded-md border">
      <p class="font-bold p-2 text-gray-700 dark:text-gray-400 py-1">Weekly trend</p>
      <weeks-chart></weeks-chart>
   </div>
   <div class="p-4 hidden md:block bg-gray-50 h-full dark:bg-dark2 dark:border-darkborder rounded-md border">
   </div>
</div> 
<div class="grid grid-cols-1 mt-4 md:grid-cols-2 gap-4 items-start" id="product-items">
  <!-- today  -->
   {% include 'core/components/records.html' with products=today date=dateToday total=todayTotal only %}
   
   <!-- yesterday -->
   {% include 'core/components/records.html' with products=yesterday date=dateYesterday total=yesterdayTotal only %}

</div> 

<div class="my-12" hx-get="/components/activityCalendar/" hx-trigger="load">
    <div>
        <span class="loader"></span>
    </div> 
</div>

{% component 'toastWrapper' / %}